<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Santanizer - automate secret santa selection. Access request.</title>
</head>
<body>
<h1>Access request</h1>
<form action="#" method="post" th:action="@{'/access/request'}" th:object="${accessRequest}" id="request">
    <div>
        <label>
            Enter your email for access to service<br>
            <input type="text" th:field="*{email}" placeholder="Email">
        </label>
    </div>
    <button class="g-recaptcha"
            th:data-sitekey="${recaptchaSecret}"
            data-callback='onSubmit'
            data-action='submit'>Send
    </button>
</form>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    function onSubmit(token) {
        document.getElementById("request").submit();
    }
</script>
</body>
</html>